.contenedor {
	width: 90%;
	max-width: 800px;
	margin: auto;
}

.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(100% - 20px);
}

.grid .item-contenido {
	position: relative;
}

.grid .item img {
	width: 100%;
	cursor: pointer;
	vertical-align: top;
}

figure {
	margin: 0;
	display: inline-block;
	border: #070b19;
	position: relative;
	overflow: hidden;
}

figcaption a {
	color: white;
}

figcaption {
	color: white;
	transition: all 0.3s;
	background: (0, 0, 0, 0.7);
	position: absolute;
	left: 0px;
	bottom: -350px;
	width: 94%;
	padding: 3%;
}

figure:hover figcaption {
	bottom: 0px;
}

figure img {
	width: 100%;
}

#wrapper {
	width: 100%;
}

#wrapper img {
	width: 100%;
}
